mixin footer
    .footer
        .footer__10
            ul.footer__10-list-left
                li.footer__10-list-item Пункт 01
                li.footer__10-list-item Пункт 02
                li.footer__10-list-item Пункт 03
                li.footer__10-list-item Пункт 04
                li.footer__10-list-item Пункт 05
                li.footer__10-list-item Пункт 06
                li.footer__10-list-item Пункт 07
            ul.footer__10-list-right
                li.footer__10-list-item Пункт 08
                li.footer__10-list-item Пункт 09
                li.footer__10-list-item Пункт 10
                li.footer__10-list-item Пункт 11
                li.footer__10-list-item Пункт 12
                li.footer__10-list-item Пункт 13
                li.footer__10-list-item Пункт 14
        .footer__11
            ul.footer__11-list
                li.footer__11-list-item Поисковое продвижение сайтов
                li.footer__11-list-item Тариф «Старт»
                li.footer__11-list-item Тариф «Продвижение Плюс»
                li.footer__11-list-item Тариф «Интернет-магазин»
                li.footer__11-list-item Тариф «Эксклюзив»
                li.footer__11-list-item Тариф «Контекст + SEO»
                li.footer__11-list-item Тариф «Регион»
        .footer__12-13-container
            .footer__12
            .footer__13