@font-face {
    font-family: 'Myriad-Pro';
    src: url('myriad-pro-light.eot');
    src: url('myriad-pro-light.eot') format('embedded-opentype'),
    	 url('myriad-pro-light.woff') format('woff'),
         url('myriad-pro-light.ttf') format('truetype'),
         url('myriad-pro-light.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}