@font-face {
    font-family: 'Myriad-Pro';
   	src: url('myriad-pro.eot');
    src: url('myriad-pro.eot') format('embedded-opentype'),
    	 url('myriad-pro.woff') format('woff'),
   	     url('myriad-pro.ttf') format('truetype'),
			url('myriad-pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}