doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(name="keywords", content="Ключевые слова")
        meta(name="description", content="FSD Тестовое задение - РЕЗЮМЕ")
        link(rel="apple-touch-icon", sizes="180x180", href="images/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="images/favicons/favicon-32x32.png")
        title FSD_CV_Template
    body
        include blocks/page/page.pug
        +page