html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 22px;
  font-size: 14px;
}

body {
  margin: auto;
  padding: 0;
  max-width: 13.033in;
  display: flex;
  justify-content: center;
}