mixin header
    .header
      .header__1
      .header__2
      .header__3
          ul.header__3-list
                li.header__3-list-item +7 (499) 346-21-31
                li.header__3-list-item manager@pixelplus.ru
                li.header__3-list-item www.pixelplus.ru