mixin content
    .content
        .content__left
            .content__4
                .content__4-title Создание сайтов
                ul.content__4-list
                    li.content__4-list-item Изготовление сайтов «под ключ»
                    li.content__4-list-item Как мы работаем
                    li.content__4-list-item Интеграция с 1С
                    li.content__4-list-item Поддержка сайтов
                    li.content__4-list-item Создание сайтов на Битрикс
                    li.content__4-list-item Модули Битрикс
                    li.content__4-list-item Купить Битрикс
                    li.content__4-list-item Дизайн сайтов
                    li.content__4-list-item Редизайн сайтов
                    li.content__4-list-item Интернет-магазины
                    li.content__4-list-item Создание логотипов
            .content__7
        .content__center
            .content__5
                .content__5-title PSD файл с макетом. Макет разбит по слоям и сгрупированн по папкам:
                ul.content__5-list
                    li.content__5-list-item
                        span.content__5-list-item-title number &nbsp
                        span.content__5-list-item-content - нумерация блоков (номера блоков верстать не нужно)
                    li.content__5-list-item
                        span.content__5-list-item-title text &nbsp
                        span.content__5-list-item-content - текстовые блоки (шрифт Arial, размер 14 пикселей, межстрочное растояние 22 пикселя)
                    li.content__5-list-item
                        span.content__5-list-item-title head &nbsp
                        span.content__5-list-item-content - шапка сайта
                    li.content__5-list-item
                        span.content__5-list-item-title content &nbsp
                        span.content__5-list-item-content - контентная область, которая в свою очередь делится на left  и center
                .content__5-fotter Текстовое описание задания и требования.
            .content__6-container
                .content__6
                .content__6
                .content__6
                .content__6
                .content__6
                .content__6
                .content__6
                .content__6_empty
                .content__6_empty
                .content__6_empty
            .content__8-9-container
                .content__8 Студия «Пиксель Плюс» разработает полнофункциональный продукт ориентированный на целевую аудиторию и эффективно решающий поставленные перед ним маркетинговые задачи. Опыт работ и использование собственных технологий, позволяет предлагать услугу изготовления сайта в Москве в разумные сроки.
                .content__9 Поисковое продвижение (раскрутка) ведется по коммерческим запросам, что позволяет многократно увеличить количество продаж с сайта при разумном рекламном бюджете.